<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:31 GMT -->

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/evara-backend/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/evara-backend/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/evara-backend/assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-products-list.html"> <i
                            class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/product_list">Product List</a>
                        <a href="/admin/product_add">Product Add</a>
                        <a href="/admin/category">Categories</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="page-orders-1.html">Order list 1</a>
                        <a href="page-orders-2.html">Order list 2</a>
                        <a href="page-orders-detail.html">Order detail</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                        <span class="text">Sellers</span>
                    </a>
                    <div class="submenu">
                        <a href="page-sellers-cards.html">Sellers cards</a>
                        <a href="page-sellers-list.html">Sellers list</a>
                        <a href="page-seller-detail.html">Seller profile</a>
                    </div>
                </li>
                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                   
                </li>
                >

                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-addBanner.html"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Banners</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/addBanner">Add Banner</a>
                        <a href="/admin/bannerLists">List Banner</a>
                        
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/users">User list</a>
                       
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/salesReport"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
               
               
            </ul>
            <hr>
          
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i
                                class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/evara-backend/assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <form action="/admin/product_edit" method="post" >
            <input hidden type="text" name="proId" value="<%= locals.product[0]._id %>">
            <section class="content-main">
                <div class="row">
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Edit Product</h2>
                            <div>

                                <button type="submit" class="btn btn-md rounded font-sm hover-up">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Basic</h4>
                            </div>
                            <div class="card-body">

                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product title</label>
                                    <input type="text" name="product_name" value="<%= locals.product[0].productTitle  %>" placeholder="Type here" class="form-control"
                                        id="product_name">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea placeholder="Type here" name="description" class="form-control"
                                        rows="4"><%= locals.product[0].description %></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Regular price</label>
                                            <div class="row gx-2">
                                                <input placeholder="₹" required min="1" value="<%= locals.product[0].orginalPrice  %>" type="number" name="price"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Offer price</label>
                                            <input placeholder="₹" min="1" value="<%= locals.product[0].offerPrice  %>" required name="offer_price" type="number"
                                                class="form-control">
                                        </div>
                                    </div>

                                </div>



                            </div>
                        </div> <!-- card end// -->

                    </div>
                    <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Image</h4>
                            </div>
                            <div class="col-md-9">
        
                                <div class="mb-4">
                                    <label class="form-label">Images</label>
                                    <input class="form-control" onchange="viewimage(event)"  name="productimages" type="file" multiple required>
                                    <img id="editimage" src="/productImages/<%=locals.product[0].image[0] %>" alt="">
                                </div>
                            </div> 
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Organization</h4>
                            </div>
                            <div class="card-body">
                                <div class="row gx-2">
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">Category</label>
                                        <select class="form-select" required name="category">
                                            <option <% if(locals.product[0].category=='men') { %> selected <% } %> value="men"> Men </option>
                                            <option <% if(locals.product[0].category=='women') { %> selected <% } %> value="women"> Women </option>
                                            <option <% if(locals.product[0].category=='kids') { %> selected <% } %> value="kids"> Kids </option>

                                        </select>
                                    </div>

                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">In Stock</label>
                                        <input type="number" value="<%= locals.product[0].stock  %>"  required min="0" name="in_stock" class="form-control">
                                    </div>
                                </div> <!-- row.// -->
                            </div>
                        </div> <!-- card end// -->
                    </div>
                </div>
            </section> <!-- content-main end// -->
        </form>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/evara-backend/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/evara-backend/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/evara-backend/assets/js/vendors/select2.min.js"></script>
    <script src="/evara-backend/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/evara-backend/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/evara-backend/assets/js/main.js" type="text/javascript"></script>
    <script>
       function viewimage(event){
        console.log(event,'eventtttttttttttttttttttttt');
           document.getElementById('editimage').src = URL.createObjectURL(event.target.files[0])

    }
    </script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->

</html>